// Native
// ============================================================

* {
	transition: all .2s ease-in-out;
}

body {
	color: $black;
	background-color: $tan;
}

body,
label,
input,
input[type="text"],
textarea {
	font-family: $font-body;
	font-weight: 100;
}

a {
	color: $cherry;
	&:hover {
		color: lighten($cherry,10);
	}
	&:focus {
		outline: none;
	}
}

button,
input[type="submit"] {
	@include margin(2em 0 0);
	font-family: $font-body;
	text-transform: uppercase;
	letter-spacing: .1em;
	border-radius: .2em;
}

// Classes
// ============================================================

.outer {
	position: relative;
	@include pad(4em 0 6em);
}
.inner {
	@include outer-container;
	@include media(max-width $tablet) {
		@include fill-parent;
		@include pad(null 2em);
	}
	position: relative;
	z-index: 1;
}

.icon {
	@include size(5em);
	@include margin(0 auto);
}

.pad-x {
	@include media(min-width $tablet) {
		@include pad(0 4em);
	}
}

.center {
	text-align: center;
}

.margin-top {
	@include margin(4em null null);
}

.headline {
	@include margin(1em 0 .5em);
	text-align: center;
}

h1.headline {
	@include margin(.5em 0 null);
	font-family: $font-head;
	font-size: 2.6em;
}

h2.headline {
	font-family: $font-head;
	font-size: 2em;
}

.large {
	font-size: 1.4em;
	line-height: 1.4em;
	font-weight: 100;
}

.card {
	@include pad(1em);
	background-color: $white;
	background: linear-gradient(to bottom, $white, darken($white,5));
	background-image: url('../_img/bg-texture-lightpaperfibers_@2X.png');
	box-shadow: 0 .2em 2em rgba(0,0,0,.2),
	            0 0 0 .4em darken($white,1) inset,
	            0 0 0 .5em $grey inset;
	border-radius: .2em;
	transform: rotate(-3deg);
	&:hover {
		transform: rotate(0deg);
	}
}

// Column structure
// ============================================================

.two-column {
	li {
		@include media(min-width $desktop) {
			@include span-columns(6);
			@include omega(2n);
			@extend .pad-x;
		}
		@include media(max-width $desktop min-width $tablet) {
			@include span-columns(8);
			@include shift(2);
		}
		@include media(max-width $tablet) {
			@include fill-parent;
		}
		@include media(max-width $desktop) {
			@include margin(null null 2em);
		}
	}
}

.three-column {
	@include media(max-width $desktop) {
		@extend .pad-x;
	}
	li {
		@include media(min-width $desktop) {
			@include span-columns(4);
			@include omega(3n);
		}
		@include media(max-width $desktop) {
			@include fill-parent;
		}
	}
}

// Hero block
// ============================================================

.hero-outer {
	position: relative;
	overflow: hidden;
	@include media(min-width $tablet) {
		height: 50vh;
	}
	@include media(max-width $tablet) {
		height: 20vh;
	}
	@include media(max-width $tablet) {
		display: none;
	}
}

.hero-photo {
	position: absolute;
  top: 0;
  left: 0;
  @include size(100%);
	overflow: hidden;
	img {
		position: absolute;
		@include size(100% auto);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 100%;
	}
}

.bg-photo {
	position: absolute;
  top: 0;
  left: 0;
  @include size(100%);
	overflow: hidden;
	// z-index: -1;
	img {
		position: absolute;
		@include size(100% auto);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 100%;
	}
}

// Navigation block
// ============================================================

.nav-outer {
	background-color: $cherry;
	background: linear-gradient(160deg,
							adjust-hue($cherry, -10deg) 0%,
							$cherry 50%,
							adjust-hue($cherry, 10deg)) 100%;
	// box-shadow: 0 .3em 0 rgba(0,0,0,.1) inset,
	// 						0 -.3em 0 rgba(0,0,0,.1) inset;
}

.nav-inner {
	@include outer-container;
	text-align: center;
}

.biz-card {
	@extend .card;

	@include media(min-width $tablet) {
		position: relative;
		top: -4em;
	}
	@include media(min-width $desktop) {
		@include span-columns(6);
	}
	@include media(max-width $desktop min-width $tablet) {
		min-width: 35em;
		display: inline-block;
	}

	@include media(max-width $tablet) {
		@include span-columns(10);
		@include shift(1);
		@include margin(4em null 2em);
	}
}

.biz-card-photo {
  position: relative;
	height: 16em;
	border-radius: .1em;
	overflow: hidden;
	@include media(min-width $mobile) {
		@include span-columns(5);
	}
	@include media(max-width $mobile) {
		@include fill-parent;
		height: 20em;
	}
	img {
		position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    min-height: auto;
	}
}

.biz-card-info {
	@include pad(1em);
	text-align: left;
	@include media(min-width $tablet) {
		@include span-columns(7);
	}
	@include media(max-width $tablet min-width $mobile) {
		@include span-columns(7);
	}
	@include media(max-width $mobile) {
		@include fill-parent;
	}
	.biz-card-info-title {
		h1 {
			@include margin(0);
			font-family: $font-head;
			font-size: 2em;
			color: darken($black,10);
		}
		p {
			font-size: 1.2em;
		}
	}
	p {
		line-height: 1.4em;
	}
	.biz-card-info-links {
		a {
			color: $cherry;
			&:hover {
				color: ligthen($cherry,10);
			}
		}
	}
	.biz-card-info-official {
		@include margin(1em 0 0);
		@include pad(.4em 0 0);
		border-top: 1px solid lighten($tan,10);
		p {
			@include margin(.2em 0);
			font-size: .8em;
			text-transform: uppercase;
			letter-spacing: .1em;
			a {
				@include margin(1em 0 0);
				color: lighten($black,20);
			}
		}
	}
}

// Business card icon hover
// ===========================

.biz-card-info-links,
.biz-card-info-official {
	p {
		a {
			transition: all .2s ease-in-out;
			display: block;
			position: relative;
			left: 0;
			&:before {
				transition: all .2s ease-in-out;
				@include size(1.4em);
				@include margin(null .4em null null);
				opacity: 0;
				position: absolute;
				top: 0;
				left: -1.5em;
			}
			&:hover {
				left: 2em;
			}
			&:hover:before {
				opacity: .4;
				left: -2em;
			}
		}
	}
}

@each $icon in realty_nw, redfin, email, phone {
  p.card-link-#{$icon} a:before {
		content: url('../_img/icon-#{$icon}.svg');
	}
}

// Navigation
// ===========================

.nav-wrap {
	@include media(min-width $desktop) {
		@include span-columns(6);
		@include omega;
	}
	@include media(max-width $desktop) {
		@include fill-parent;
	}
}

.tagline {
	@include media(min-width $desktop) {
		@include pad(3em 0 0);
	}
	@include media(max-width $desktop) {
		@include margin(-2em 0 0);
		@include pad(0 0 1em);
	}
	h1 {
		@include pad(0 1em);
		font-family: $font-accent;
		font-size: 2.8em;
		color: $cherry-light;
	}
}

.nav-list {
	@include margin(null null 4em);
	li {
		display: inline-block;
		a {
			@include pad(.5em 1em);
			display: block;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .1em;
			color: $cherry-light;
			&:hover {
				color: $white;
			}
		}
	}
}

.nav-list .selected a {
	color: $white;
	background-color: lighten($cherry,10);
}

// Overview block
// ============================================================

.overview {
	background-color: $yellow;
	.svg {
		fill: darken($yellow,50);
		opacity: .4;
	}
	.headline {
		color: $cherry;
	}
}

// Listings block
// ============================================================

.listings {
	background-color: $purple;
	background: linear-gradient(160deg,
							adjust-hue($purple, -20deg) 0%,
							$purple 50%,
							adjust-hue($purple, 20deg)) 100%;
	color: $black;
	.headline {
		color: $cherry-light;
	}
	.large {
		color: $tan;
	}
	.blocks {
		li {
			@include margin(null null 2em);
			@include pad(2em 2em 1.6em);
			@extend .card;
		}
	}
}

// Stories block
// ============================================================

.stories {
	background-color: $cherry;
	.headline {
		color: $yellow;
	}
	.large {
		color: $white;
	}
	button {
		color: $white;
		background-color: $cherry;
		&:hover {
			background-color: lighten($cherry,10);
		}
	}
	.blocks {
		li {
			@include margin(null null 2em);
			@include pad(2em 2em 1.6em);
			@extend .card;
		}
	}
	.bg-photo {
		opacity: .5;
	}
}

// History block
// ============================================================

.history {
	background-color: $yellow;
	.headline {
		color: $cherry;
	}
	.large {
		color: $black;
	}
}

// Tools block
// ============================================================

.tools {
	background-color: $purple;
	color: $tan;
	.headline {
		color: $cherry-light;
	}
}

// Contact block
// ============================================================

.contact {
	background-color: lighten($cherry,10);
	.headline {
		color: $cherry-light;
	}
	p, label {
		color: $cherry-light;
	}
	.blocks {
		li {
			@include margin(null 0 .4em);
			@include pad(null 1.4em);
			text-align: left;
			input[type="text"],
			select,
			textarea,
			label {
				// display: inline;
				@include fill-parent;
				@include pad(.4em 1em);
				font-size: 1.4em;
				color: $cherry-light;
				background-color: $cherry;
				border-radius: .2em;
				border: none;
				input[type="radio"] {
					@include margin(null 1em null 0);
				}
				&::-webkit-input-placeholder {
					color: $cherry-light;
					opacity: .5;
				}
			}
			select {
				@extend label;
			}
			&.contact-details,
			&.contact-cake {
				@include span-columns(6);
				@include omega(2n);
			}
			&.contact-submit {
				@include fill-parent;
				@extend .center;
				clear: both;
				input {
					color: $cherry;
					background-color: $cherry-light;
					&:hover {
						background-color: $white;
					}
				}
			}
		}
	}
}

// Footer block
// ============================================================

.footer {
	height: 10em;
	background-color: $cherry;
	color: $cherry-light;
}
