// VARIABLES
// ============================================================

$white:        #fff;
$blue:         #406180;
$red:          #843131;
$cherry:       #672B3C;
$purple:       #351F3B;
$tan:          #D8D2C5;
$green:        #85A699;
$yellow-green: #819627;
$yellow:       #FFE17B;
$black:        #424243;
$grey:         darken($white,10);

$desktop:      1100px;
$tablet:       700px;
$mobile:       410px;
$mobile-xs:    320px;

$font-head:    'Lora', serif;
$font-body:    'Lato', sans-serif;
$font-accent:  'Courgette', cursive;